<label for="zip">
    <f:translate key="tx_validationexamplesnew_domain_model_addressdata.zip" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="zip" /><br />
<f:render partial="FormErrors" arguments="{field: 'step3data.zip'}"/>
<br />

<label for="city">
    <f:translate key="tx_validationexamplesnew_domain_model_addressdata.city" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="city" /><br />
<f:render partial="FormErrors" arguments="{field: 'step3data.city'}"/>