<label for="firstname">
    <f:translate key="tx_validationexamplesnew_domain_model_addressdata.firstname" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="firstname" /><br />
<f:render partial="FormErrors" arguments="{field: 'step1data.firstname'}"/>
<br />

<label for="lastname">
    <f:translate key="tx_validationexamplesnew_domain_model_addressdata.lastname" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="lastname" /><br />
<f:render partial="FormErrors" arguments="{field: 'step1data.lastname'}"/>
<br />