<label for="street">
    <f:translate key="tx_validationexamplesnew_domain_model_addressdata.street" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="street" /><br />
<f:render partial="FormErrors" arguments="{field: 'step2data.street'}"/>
<br />

<label for="streetnr">
    <f:translate key="tx_validationexamplesnew_domain_model_addressdata.streetnr" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="streetnr" /><br />
<f:render partial="FormErrors" arguments="{field: 'step2data.streetnr'}"/>
<br />