<label for="firstname">
	<f:translate key="tx_validationexamplesnew_domain_model_addressdata.firstname" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="firstname" /><br />
<f:render partial="FormErrors" arguments="{field: 'newAddressdata.firstname'}"/>
<br/>

<label for="lastname">
	<f:translate key="tx_validationexamplesnew_domain_model_addressdata.lastname" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="lastname" /><br />
<f:render partial="FormErrors" arguments="{field: 'newAddressdata.lastname'}"/>
<br/>

<label for="street">
	<f:translate key="tx_validationexamplesnew_domain_model_addressdata.street" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="street" /><br />
<f:render partial="FormErrors" arguments="{field: 'newAddressdata.street'}"/>
<br/>

<label for="streetnr">
	<f:translate key="tx_validationexamplesnew_domain_model_addressdata.streetnr" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="streetnr" /><br />
<f:render partial="FormErrors" arguments="{field: 'newAddressdata.streetnr'}"/>
<br/>

<label for="zip">
	<f:translate key="tx_validationexamplesnew_domain_model_addressdata.zip" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="zip" /><br />
<f:render partial="FormErrors" arguments="{field: 'newAddressdata.zip'}"/>
<br/>

<label for="city">
	<f:translate key="tx_validationexamplesnew_domain_model_addressdata.city" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="city" /><br />
<f:render partial="FormErrors" arguments="{field: 'newAddressdata.city'}"/>
<br/>
